* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a, a:hover{
  color: rgb(51, 51, 51);
}

.fa-bars, .fa-spinner{
  font-size: 2rem;
}

aside{
  width: 300px;
}

.collapse{
  overflow: scroll;
  height: 50vh;
}

.foto:hover{
  cursor: pointer;
  background-color: rgb(194, 194, 194);
}

.display{
  min-width: 50%;
  height: 80vh;
}

.display img{
  max-height: 65vh;
}

.aside-incompleto{
  background-color: rgb(194, 194, 194);

  display: flex;
  align-items: center;
  justify-content: center;
}